* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Helvetica Neue", sans-serif;
}
h1,
h2 {
  color: #12647b;
  margin: 5px;
}
a {
  text-decoration: none;
  color: #54acc4;
}
